

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*" >
    <title itemprop="name"></title>
        <link rel='stylesheet' href='/stylesheets/autoptimize_10267d1c9d0bbbad8d3659cab14f9b8b.css' />
    <script>var title = document.title;
    // window 失去焦点
    window.onblur = function () {
        document.title = '跑哪去了！';
    };
    // window 获得焦点
    window.onfocus = function () {
        document.title = '你回来了~';
        setTimeout( "document.title=title", 3000 );
    }
    </script>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <script type='text/javascript' src='/javascripts/jquery.min.js'></script>
    <meta name="referrer" content="never">
    <script type="text/javascript">
        if ( !!window.ActiveXObject || "ActiveXObject" in window ) { //is IE?
            alert( '请抛弃万恶的IE系列浏览器吧。' );
        }
    </script>
</head>
<style type="text/css">
  .t-td{
    border-top: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
  }
.table-container
{
width: 100%;
overflow-y: auto;
_overflow: auto;
margin: 0 0 1em;
}
table{border:0; border-collapse:collapse;}
table td,table th{border:1px solid #999; padding:.5em 1em}
//添加IOS下滚动条
.table-container::-webkit-scrollbar
{
-webkit-appearance: none;
width: 14px;
height: 14px;
}

.table-container::-webkit-scrollbar-thumb
{
border-radius: 8px;
border: 3px solid black;
background-color: rgba(0, 0, 0, .3);
}
</style>
<body class="page-template page-template-page-links page-template-page-links-php page page-id-688">
<section id="main-container">
    <div class="headertop filter-nothing">
        <div id="video-container" style="">
            <video id="bgvideo" class="video" video-name="" src="" width="auto" preload="auto"></video>
            <div id="video-btn" class="loadvideo videolive" ></div>
            <div id="video-add" ></div>
            <div class="video-stu"></div>
        </div>
    </div>
    <div id="page" class="site wrapper">
        <header class="site-header" role="banner">
            <div class="site-top"><div class="site-branding">
                <div  id="tiaodan" class="site-logo">
                    <a href="#">
                        <img  src="/images/sample_g465_G_ec_s1.gif" alt="MOCUISHLE">
                    </a>
                </div>
            </div>
                <!-- <div class="header-user-avatar">
                 <a href="https://ley.best/login/">
                  <i class="iconfont icon-people"></i>
                </a>
                <div class="header-user-menu">
                  <div class="herder-user-name no-logged">是否登录?
                    <a href="https://ley.best/login/">登录</a>
                  </div>
                </div>
              </div> -->
                <!-- <div class="searchbox">
                  <i class="iconfont js-toggle-search icon-search"></i>
                </div> -->
                <div class="lower">
                    <div id="show-nav" class="hideNav">
                        <div class="line line1"></div>
                        <div class="line line2"></div>
                        <div class="line line3"></div>
                    </div>
                    <nav class="navbar">
                        <ul id="menu-hey" class="menu">
                            <li>
                                <a href="./">我的任务</a>
                            </li>
                            <li>
                                <a href="./addJob">添加任务</a>
                            </li>
                            <li>
                                <a href="#">会员充值</a>
                            </li>
                            <li>
                                <a href="#">个人中心</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div class="blank">
        </div>
        <div id="content" class="site-content">
          <div>
            <!-- <div style="width: 49%;height: 30px;text-align: center;float: left;border-bottom: 1px solid #000">普通模式</div> -->
            <div id="title-div" style="width: 100%;height: 30px;text-align: center;float: right;border-bottom: 1px solid #000;background-color: #69d2e7">
              添加任务
            </div>
          </div>
          <div style="margin-top: 50px" id="div-content">
            <div>
              <!-- <form> -->
                <label>输入任务名称：</label>
                  <input type="text" name="jobName"><span class="jobName-span" style="color: red"></span>
                  <br>
                <label>选择页面样式：</label>
                <select id='jobType-select' onchange="jobTypeChange(this)">
                  <option value ="1">分页</option>
                  <option value ="2">瀑布流(带加载按钮)</option>
                  <option value="3">瀑布流(不带加载按钮)</option>
                  <option value ="0">无分页</option>
                </select>
                <br>
                <div class="view-fenye">
                  <div>
                  <label>输入采集地址：</label>
                  <input type="text" name="jobUrl"><span class="jobUrl-span" style="color: red"></span>
                  <br>
                  </div>

                  <div class="jobContent-div">
                  <label>输入采集模块：</label>
                  <input type="text" name="jobContent"><span class="jobContent-span" style="color: red"></span>
                  <br>
                  </div>
                  
                  <div class="jobNext-div">
                  <label>输入'下一页'元素：</label>
                  <input type="text" name="jobNext"><span class="jobNext-span" style="color: red"></span>
                  <br>
                  </div>
                  <button id="test-job" onclick="testJob()">预览数据</button>
                  <span id="test-span" style="display: none;">正在获取,请耐心等待...</span>
                </div>
              <!-- </form> -->
            </div>
            <div style="margin-top: 30px">
              <div style="height: 30px;text-align: center;"><span>采集数据预览(最多展示10条数据)：</span></div>
              <div class="table-container">
              <table style="width: 100%;">
                <thead>
                  
                  <tr style="height: 30px;background-color: #69d2e7" id="th-tr">
                    <!-- <th>文章标题</th>
                    <th>发布时间</th>
                    <th>作者</th>
                    <th>浏览量</th>
                    <th>点赞量</th> -->
                  </tr>
                </thead>
                <tbody id="tbody-content" class="applytable">
                  <!-- <tr>
                    <td class="t-td">《假如给我三天光明》</td>
                    <td class="t-td">2020-02-16</td>
                    <td class="t-td">张海迪</td>
                    <td class="t-td">278万</td>
                    <td class="t-td">5621</td>
                  </tr>
                  <tr>
                    <td class="t-td">《朝花夕拾》</td>
                    <td class="t-td">2020-02-16</td>
                    <td class="t-td">鲁迅</td>
                    <td class="t-td">278万</td>
                    <td class="t-td">5621</td>
                  </tr>
                  <tr>
                    <td class="t-td">《如何讨取富婆欢心》</td>
                    <td class="t-td">2020-02-16</td>
                    <td class="t-td">周树人</td>
                    <td class="t-td">278万</td>
                    <td class="t-td">5621</td>
                  </tr> -->
                </tbody>
              </table>
            </div> 
            </div>
            <div id="submit-div" style="text-align: right;margin-top: 30px;display: none;"><button onclick="addJob()">添加任务</button></div>
          </div>  
        </div>
    </div>
    <div class="openNav">
        <div class="iconflat">
            <div class="icon">

            </div>
        </div>
        <div class="site-branding">
            <div class="site-logo">
                <a href="#" >
                    <img src="/images/sample_g465_G_ec_s1.gif" alt="MOCUISHLE">
                </a>
            </div>
        </div>
    </div>
</section>
<div id="mo-nav">
    <div class="m-avatar">
        <img src="/images/sample_g465_G_ec_s1.gif">
    </div>
    <!-- <div class="m-search">
      <form class="m-search-form" method="get" action="https://ley.best" role="search">
        <input class="m-search-input" type="search" name="s" placeholder="搜索..." required></form>
        </div> -->
    <ul id="menu-hey-1" class="menu">
        <li>
            <a href="./">我的任务</a>
        </li>

        <li>
            <a href="./addJob">添加任务</a>
        </li>
        <li>
            <a href="#">会员充值</a>
        </li>
        <li>
            <a href="#">个人中心</a>
        </li>
    </ul>
</div>
<a href="#" class="cd-top"></a>
<div id="loading">
    <div id="loading-center">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>
<script type="text/javascript" language="javascript">
    if(window.console&&window.console.log){
        console.log('你想干嘛！');
        console.log('不要搞破坏！');
        console.log('have fun');
        console.log("%c白白","color:red");
    }</script>
<script type='text/javascript'>
    var Poi = 1;
</script>
<div id="black_mask" class="black_mask"></div>
<script defer src="/javascripts/autoptimize_d53af4d6bafc72264120246a7ba5cf78.js">

</script>
<script type="text/javascript">
if (<%= locals.result %> == 1){
  $("#title-div").text('修改任务');
  switch('<%= locals.job_type %>') {
     case '1':
        $('.jobNext-div').css('display','block');
        $('.jobNext-div > label').text("输入'下一页'元素：");
        cleanSpanText();
        break;
     case '2':
        $('.jobNext-div').css('display','block');
        $('.jobNext-div > label').text("输入'加载'元素：");
        cleanSpanText();
        break;
     case '3':
        $('.jobNext-div').css('display','none');
        cleanSpanText();
        break;
     case '0':
        $('.jobNext-div').css('display','none');
        cleanSpanText();
        break;
  }
  var job_content = "<%= locals.job_content %>";
  $("input[name='jobName']").val("<%= locals.job_name %>");
  $('#jobType-select').val(<%= locals.job_type %>);
  $("input[name='jobUrl']").val('<%= locals.job_url %>');
  $("input[name='jobContent']").val(job_content.replace('&gt;','>'));
  $("input[name='jobNext']").val('<%= locals.job_next %>');
}

var jobTypeFlag;
var jobNameFlag;
var jobUrlFlag;
var jobContentFlag;
var jobNextFlag;

function jobTypeChange(res){
  switch(res.value) {
     case '1':
        $('.jobNext-div').css('display','block');
        $('.jobNext-div > label').text("输入'下一页'元素：");
        cleanSpanText();
        break;
     case '2':
        $('.jobNext-div').css('display','block');
        $('.jobNext-div > label').text("输入'加载'元素：");
        cleanSpanText();
        break;
     case '3':
        $('.jobNext-div').css('display','none');
        cleanSpanText();
        break;
     case '0':
        $('.jobNext-div').css('display','none');
        cleanSpanText();
        break;
} 
}

function testJob(){
  $("#tbody-content").html("");
  $("#test-span").css("display","block");
  $('#submit-div').css('display','none');
        var jobName = $("input[name='jobName']").val();
        var jobType = $('#jobType-select').val();
        var jobUrl = $("input[name='jobUrl']").val();
        var jobContent = $("input[name='jobContent']").val();
        var jobNext = $("input[name='jobNext']").val();
  switch(jobType) {
     case '1':
        if(jobName.length<1 || jobUrl.length<1 || jobContent.length<1  || jobNext.length<1){
            if (jobName.length<1) {$('.jobName-span').text('请输入必填项');}else{$('.jobName-span').text('');}
            if (jobUrl.length<1) {$('.jobUrl-span').text('请输入必填项');}else{$('.jobUrl-span').text('');}
            if (jobContent.length<1) {$('.jobContent-span').text('请输入必填项');}else{$('.jobContent-span').text('');}
            if (jobNext.length<1) {$('.jobNext-span').text('请输入必填项');}else{$('.jobNext-span').text('');}
        }else{
            cleanSpanText();
            console.log('okok');
            jobTypeFlag = jobType;
            jobNameFlag = jobName;
            jobUrlFlag = jobUrl;
            jobContentFlag = jobContent;
            jobNextFlag = jobNext;
            $.ajax({
            url: "./addJob/testJob",
            type: "POST",
            data:{jobName:jobNameFlag,jobType:jobTypeFlag,jobUrl:jobUrlFlag,jobContent:jobContentFlag,jobNext:jobNextFlag},
            contextType: "application/json",
            success: function (res) {
              $('#th-tr').html('');
              for(var i = 0;i<res['keyArray'].length;i++){
                  $('#th-tr').append('<th></th>');
              }
              $('#tbody-content').html('');
              for(var i = 1;i<=10;i++){
                $('#tbody-content').append("<tr class='tbody-content-"+i+"'></tr>");
                for(var j = 0;j<res['keyArray'].length;j++){
                  if(res['resultData'][i][res['keyArray'][j]] != undefined){
                    $(".tbody-content-"+i+"").append("<td>"+res['resultData'][i][res['keyArray'][j]]+"</td>");
                  }else{
                    $(".tbody-content-"+i+"").append("<td></td>");
                  }
                }
              }
              $('#submit-div').css('display','block');
            },
            error: function (err) {
            }
            });
        }
        break;
     case '2':
        if(jobName.length<1 || jobUrl.length<1 || jobContent.length<1  || jobNext.length<1){
            if (jobName.length<1) {$('.jobName-span').text('请输入必填项');}else{$('.jobName-span').text('');}
            if (jobUrl.length<1) {$('.jobUrl-span').text('请输入必填项');}else{$('.jobUrl-span').text('');}
            if (jobContent.length<1) {$('.jobContent-span').text('请输入必填项');}else{$('.jobContent-span').text('');}
            if (jobNext.length<1) {$('.jobNext-span').text('请输入必填项');}else{$('.jobNext-span').text('');}
        }else{
            cleanSpanText();
            console.log('ok');
        }
        break;
     case '3':
        if(jobName.length<1 || jobUrl.length<1 || jobContent.length<1 ){
            if (jobName.length<1) {$('.jobName-span').text('请输入必填项');}else{$('.jobName-span').text('');}
            if (jobUrl.length<1) {$('.jobUrl-span').text('请输入必填项');}else{$('.jobUrl-span').text('');}
            if (jobContent.length<1) {$('.jobContent-span').text('请输入必填项');}else{$('.jobContent-span').text('');}
        }else{
            cleanSpanText();
            console.log('ok');
        }
        break;
     case '0':
        if(jobName.length<1 || jobUrl.length<1 || jobContent.length<1 ){
            if (jobName.length<1) {$('.jobName-span').text('请输入必填项');}else{$('.jobName-span').text('');}
            if (jobUrl.length<1) {$('.jobUrl-span').text('请输入必填项');}else{$('.jobUrl-span').text('');}
            if (jobContent.length<1) {$('.jobContent-span').text('请输入必填项');}else{$('.jobContent-span').text('');}
        }else{
            cleanSpanText();
            console.log('ok');
            jobTypeFlag = jobType;
            jobNameFlag = jobName;
            jobUrlFlag = jobUrl;
            jobContentFlag = jobContent;
            jobNextFlag = jobNext;
            $.ajax({
            url: "./addJob/testJob",
            type: "POST",
            data:{isUpdate:'<%= locals.result %>',jobTrueName:'<%= locals.job_name %>',userId:1,jobName:jobNameFlag,jobType:jobTypeFlag,jobUrl:jobUrlFlag,jobContent:jobContentFlag,jobNext:jobNextFlag},
            contextType: "application/json",
            success: function (res) {
              // $("#test-span").css("display","none");
              //   $("#test-jop").css("display","block");
              //判断任务名称是否已存在
              if (res==-1) {
                alert('操作频繁,请稍后再试哦~');
                $("#test-span").css("display","none");
                return;
              }
              if (res == 0) {
                alert('任务名称已存在');
                $("#test-span").css("display","none");
                return;
              }
              if (res['msg'] == 1) {
                $("#test-span").css("display","none");
              //构造预览表格
              $('#th-tr').html('');
              for(var i = 0;i<=res['keyArray'].length;i++){
                  $('#th-tr').append('<th></th>');
              }
              $('#tbody-content').html('');
              for(var i = 1;i<=10;i++){
                $('#tbody-content').append("<tr class='tbody-content-"+i+"'></tr>");
                for(var j = 0;j<res['keyArray'].length;j++){
                  if(res['resultData'][i][res['keyArray'][j]] != undefined){
                    $(".tbody-content-"+i+"").append("<td>"+res['resultData'][i][res['keyArray'][j]]+"</td>");
                  }else{
                    $(".tbody-content-"+i+"").append("<td></td>");
                  }
                }
              }
              $('#submit-div').css('display','block');
            }else if(res['msg'] == 5){
              $("#test-span").css("display","none");
                console.log('用户取消采集');
            }else if(res['msg'] == 0){
              $("#test-span").css("display","none");
                console.log('未知原因导致执行失败,请删除本任务重新创建');
                alert('未知原因导致执行失败,请删除本任务重新创建');
            }else if(res['msg'] == 2){
              $("#test-span").css("display","none");
                console.log('意外关闭或刷新导致失败');
                alert('意外关闭或刷新导致失败');
            }else if(res['msg'] == 3){
              $("#test-span").css("display","none");
                console.log('获取失败：网址不正确或访问超时,请填写正确的采集网址');
                alert('获取失败：网址不正确或访问超时,请填写正确的采集网址');
            }else if(res['msg'] == 4){
              $("#test-span").css("display","none");
                console.log('获取采集模块失败或模块子节点长度为0,请填写正确的采集模块');
                alert('获取采集模块失败或模块子节点长度为0,请填写正确的采集模块');
            }
            },
            error: function (err) {
            }
            });
        }
        break;
}
  
  // $.ajax({
  //     url: "./addJob/testJob",
  //     type: "POST",
  //     data:{name:'鲁班大师',iq:'250'},
  //     contextType: "application/json",
  //     success: function (res) {
  //       console.log(eval('('+res+')'))
  //     },
  //     error: function (err) {
  //     }
  //   });


}

function cleanSpanText(){
    $('.jobUrl-span').text('');
    $('.jobContent-span').text('');
    $('.jobNext-span').text('');
}

function addJob(){

  $.ajax({
            url: "./addJob/addJob",
            type: "POST",
            data:{isUpdate:'<%= locals.result %>',jobId:'<%= locals.job_id %>',jobName:jobNameFlag,jobType:jobTypeFlag,jobUrl:jobUrlFlag,jobContent:jobContentFlag,jobNext:jobNextFlag},
            contextType: "application/json",
            success: function (res) {
              if (res['msg'] == 0) {
                if ('<%= locals.result %>' == 1) {
                  alert('更新成功,若无需再次修改，可关闭此页面');
                }else{
                  alert('添加成功');
                }
              }
              // console.log('==='+res['msg']);
            },
            error: function (err) {
            }
            });
}
</script>

<script type="text/javascript">
  if(window.WebSocket){
    var ws = new WebSocket('ws://localhost:8002');

    ws.onopen = function(e){
      console.log("连接服务器成功");
      // 向服务器发送消息
      ws.send("我是01听到请回答over");
    }
    ws.onclose = function(e){
      console.log("服务器关闭");
    }
    ws.onerror = function(){
      console.log("连接出错");
    }
    // 接收服务器的消息
    ws.onmessage = function(e){
      let message = "message:"+e.data+"";
      console.log(message);
    }   
  }else{$body.html('');alert('请升级或更换为支持websocket的浏览器,否则无法使用本站服务')}
</script>
</body>
</html>



