

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*" >
    <title itemprop="name"></title>
        <link rel='stylesheet' href='/stylesheets/autoptimize_10267d1c9d0bbbad8d3659cab14f9b8b.css' />
    <script>var title = document.title;
    // window 失去焦点
    window.onblur = function () {
        document.title = '跑哪去了！';
    };
    // window 获得焦点
    window.onfocus = function () {
        document.title = '你回来了~';
        setTimeout( "document.title=title", 3000 );
    }
    </script>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <!-- <link rel="shortcut icon" href="https://ley.best/wp-content/themes/ASky/images/favicon.ico"/> -->
    <!-- <link rel='dns-prefetch' href='//ley21.oss-accelerate.aliyuncs.com' /> -->
    <!-- <link rel='dns-prefetch' href='//cdn.bootcss.com' /> -->
    <!-- <link rel='dns-prefetch' href='//s.w.org' />  -->
    <script type='text/javascript' src='/javascripts/jquery.min.js'></script>
    <!-- <script type='text/javascript' src='https://cdn.bootcss.com/jquery-migrate/3.0.0/jquery-migrate.min.js'></script>  -->
    <!-- <link rel='https://api.w.org/' href='https://ley.best/wp-json/' /> -->
    <!-- <link rel="canonical" href="https://ley.best/links/" /> -->
    <!-- <link rel='shortlink' href='https://ley.best/?p=688' /> -->
    <meta name="referrer" content="never">
    <!-- <script type="text/javascript">
     jQuery(function(){

 jQuery.fn.getTitle = function() { // Copy the title of every IMG tag and add it to its parent A so that fancybox can show titles
   var arr = jQuery("a[data-fancybox]");
               jQuery.each(arr, function() {
                 var title = jQuery(this).children("img").attr("title");
                  var caption = jQuery(this).next("figcaption").html();
                                     if(caption && title){jQuery(this).attr("title",title+" " + caption)}else if(title){ jQuery(this).attr("title",title);}else if(caption){jQuery(this).attr("title",caption);}
               });     }

 // Supported file extensions

             var thumbnails = jQuery("a:has(img)").not(".nolightbox").not('.envira-gallery-link').not('.ngg-simplelightbox').filter(function () {
         return /\.(jpe?g|png|gif|mp4|webp|bmp|pdf)(\?[^/]*)*$/i.test(jQuery(this).attr('href'))
     });


 // Add data-type iframe for links that are not images or videos.
     var iframeLinks = jQuery('.fancyboxforwp').filter( function() { return ! /\.(jpe?g|png|gif|mp4|webp|bmp|pdf)(\?[^/]*)*$/i.test(jQuery(this).attr('href')) }).filter( function() { return ! /vimeo|youtube/i.test(jQuery(this).attr('href')) });
     iframeLinks.attr({ "data-type" : "iframe" }).getTitle();

     // Gallery All
 thumbnails.addClass("fancyboxforwp").attr("data-fancybox","gallery").getTitle();
     iframeLinks.attr({ "data-fancybox":"gallery" }).getTitle();

 // Gallery type NONE



 // Call fancybox and apply it on any link with a rel atribute that starts with "fancybox", with the options set on the admin panel
 jQuery("a.fancyboxforwp").fancyboxforwp({
   loop: false,
   smallBtn: false,
   zoomOpacity: "auto",
   animationEffect: "fade",
   animationDuration: 500,
   transitionEffect: "fade",
   transitionDuration : "300",
   overlayShow: true,
   overlayOpacity: "0.3",
   titleShow: true,
   titlePosition: "inside",
   keyboard: true,
   showCloseButton: false,
   arrows: true,
   clickContent: false,
         clickSlide: "close",
   wheel: false,
   toolbar: true,
   preventCaptionOverlap: true,
   onInit: function() { },     onDeactivate: function() { },     beforeClose: function() { },      afterShow: function() { },      afterClose: function() { },     caption : function( instance, item ) {var testing = jQuery(this).context.title;var caption = jQuery(this).data('caption') || '';if ( item.type === 'image' && testing.length ) {caption = (caption.length ? caption + '<br />' : '') + '<p class="caption-title">'+testing+'</p>' ;}return caption;},
   afterLoad : function( instance, current ) {current.$content.append('<div class=\"fancybox-custom-caption\" style=\" position: absolute;left:0;right:0;color:#000;padding-top:10px;bottom:-50px;margin:0 auto;text-align:center; \">' + current.opts.caption + '</div>');},
       });

})
</script>  -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135434777-2"></script>  -->
    <!--  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-135434777-2');</script> <script>var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?dd3fd467ee4d41fae8c079b5ed1ab2ee";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>  -->
    <script type="text/javascript">
        if ( !!window.ActiveXObject || "ActiveXObject" in window ) { //is IE?
            alert( '请抛弃万恶的IE系列浏览器吧。' );
        }
    </script>
</head>
<style type="text/css">
  
   .link-item-div a:hover { color:#385f9e; }
   .control-a:hover { color:#385f9e; }
</style>
<body class="page-template page-template-page-links page-template-page-links-php page page-id-688">
<section id="main-container">
    <div class="headertop filter-nothing">
        <!-- <figure id="centerbg" class="centerbg" style="background-image: url(https://ae01.alicdn.com/kf/Hb097a6a74cfc4105817ffea7b58715e4b.jpg);" title="MOCUISHLE">
          <div class="focusinfo">
            <div class="header-tou">
              <a href="https://ley.best" >
                <img src="https://pic.superbed.cn/item/5dcbad2d8e0e2e3ee9db034e.png" alt="MOCUISHLE"></a>
              </div>
              <div class="header-info">
                <p>i want every single piece of you</p>
              </div>
              <div class="top-social">
                <li class="wechat">
                  <a href="javascript:;">
                    <div class="social_img" style="background-position:center -485px">
                    </div>
                  </a>
                  <div class="wechatInner">
                    <img src="https://ae01.alicdn.com/kf/U00c56565ff504bd3b3af49a19153d6497.jpg" alt="微信公众号"></div>
                  </li>
                  <li>
                    <a href="https://weibo.com/21AJ" target="_blank" class="social-sina" title="sina">
                      <div class="social_img" style="background-position: center -365px"></div>
                    </a>
                  </li>
                  <li>
                    <a href="https://space.bilibili.com/39767964" target="_blank" class="social-bili" title="bilibili">
                      <div class="social_img" style="background-position:center -45px"></div>
                    </a>
                  </li>
                  <li><a href="https://music.163.com/#/user/59967939" target="_blank" class="social-wangyiyun" title="CloudMusic">
                    <div class="social_img" style="background-position:center -445px"></div>
                  </a>
                </li>
              </div>
            </div>
            <img src="https://ae01.alicdn.com/kf/Hb097a6a74cfc4105817ffea7b58715e4b.jpg" alt="右键下载背景图"  style="position: absolute; bottom: 90px;right: 5px; width: 32px; height: 32px; padding: 1px;z-index: 100;border-radius: 100%;object-fit: cover">
          </figure> -->
        <div id="video-container" style="">
            <video id="bgvideo" class="video" video-name="" src="" width="auto" preload="auto"></video>
            <div id="video-btn" class="loadvideo videolive" ></div>
            <div id="video-add" ></div>
            <div class="video-stu"></div>
        </div>
    </div>
    <div id="page" class="site wrapper">
        <header class="site-header" role="banner">
            <div class="site-top"><div class="site-branding">
                <div  id="tiaodan" class="site-logo">
                    <a href="javascript:;">
                        <img  src="https://ae01.alicdn.com/kf/U0e1f3b3d476048c1a6034e6ca0009aa7i.jpg" alt="MOCUISHLE">
                    </a>
                </div>
            </div>
                <!-- <div class="header-user-avatar">
                 <a href="https://ley.best/login/">
                  <i class="iconfont icon-people"></i>
                </a>
                <div class="header-user-menu">
                  <div class="herder-user-name no-logged">是否登录?
                    <a href="https://ley.best/login/">登录</a>
                  </div>
                </div>
              </div> -->
                <!-- <div class="searchbox">
                  <i class="iconfont js-toggle-search icon-search"></i>
                </div> -->
                <div class="lower">
                    <div id="show-nav" class="hideNav">
                        <div class="line line1"></div>
                        <div class="line line2"></div>
                        <div class="line line3"></div>
                    </div>
                    <nav class="navbar">
                        <ul id="menu-hey" class="menu">
                            <li>
                                <a href="javascript:;">我的任务</a>
                            </li>
                            <li>
                                <a href="javascript:;">添加任务</a>
                            </li>
                            <li>
                                <a href="javascript:;">会员充值</a>
                            </li>
                            <li>
                                <a href="javascript:;">个人中心</a>
                            </li>
                            <!-- <li>
                              <a target="_blank" rel="noopener noreferrer" href="https://music.ley.best">Music</a>
                              <ul class="sub-menu">
                                <li>
                                  <a href="https://music.ley.best">Online music</a>
                                </li>
                                <li>
                                  <a href="http://ley.best/music/">Music Collections</a>
                                </li>
                                <li>
                                    <a href="https://ley.best/mikutap/">Mikutap</a>
                                  </li>
                                </ul>
                              </li>
                              <li class="current-menu-item">
                                <a href="https://ley.best/links/" aria-current="page">Links</a>
                              </li>
                              <li>
                                <a href="https://ley.best">Cloud</a>
                                <ul class="sub-menu">
                                  <li>
                                    <a target="_blank" rel="noopener noreferrer" href="https://gd.ley.best">GoogleDrive</a>
                                  </li>
                                  <li>
                                    <a target="_blank" rel="noopener noreferrer" href="https://od.ley.best">Onedrive</a>
                                  </li>
                                  <li>
                                    <a target="_blank" rel="noopener noreferrer" href="https://kod.ley.best">Kod</a>
                                  </li>
                                </ul>
                              </li> -->
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div class="blank">
        </div>
        <div id="content" class="site-content">
            <!-- <span class="linkss-title" style="letter-spacing:0"><button>添加爬取任务</button></span> -->
            <article class="post-item post-688 page type-page status-publish hentry">
                <div class="links">
                    <ul class="link-items fontSmooth">
                        <% jobList.forEach(function(job){%>

                        <%  if(job.job_status==2){ %> 
                            <li class="link-item link-item-<%= job.id %>" id="link-item-id-<%= job.id %>" style="background-color: #1cc57f">
                        <% } else if(job.job_status==0){ %>
                            <li class="link-item link-item-<%= job.id %>" id="link-item-id-<%= job.id %>" style="background-color: #a0dad0">
                        <% }else if(job.job_status==1){ %>
                            <li class="link-item link-item-<%= job.id %>" id="link-item-id-<%= job.id %>">
                        <% }%>

                              <%  if(job.job_status==2){ %>  
                              <div style="height: 25px;width: 100%;border: 10px;">
                                <div class="link-item-div" style="height: 80%;width: 40%;float: left;display: flex;text-align: center;">
                                  <a href="javascript:;" id="left-a-<%= job.id %>" style="align-self: center;margin: 0 auto;" onclick="job_start('<%= job.id%>','<%= job.job_type%>','<%= job.job_name %>','<%= job.job_url %>','<%= job.job_content %>')">重新采集</a>
                                  <a href="javascript:;" id="left-a-2-<%= job.id %>" style="align-self: center;margin: 0 auto;display: none;" onclick="job_stop('<%= job.id%>')">取消采集</a>
                                  <a href="./addJob?id=<%= job.id %>" id="left-a-3-<%= job.id %>" target="_blank" style="align-self: center;margin: 0 auto;display: none;" onclick="updateListen('<%= job.id%>')">编辑规则</a>
                                </div>
                                <div class="link-item-div" style="height: 80%;width: 40%;float: right;display: flex;text-align: center;">
                                  <a href="javascript:;" onclick="delete_job('<%= job.id%>')" style="align-self: center;margin: 0 auto;background-color: ">删除任务</a>
                                </div>
                              </div>
                              <span class="sitename" id="span-<%= job.id %>" style="color: white">采集完成</span> 
                            <% } else if(job.job_status==1){ %> 


<div style="height: 25px;width: 100%;border: 10px;">
                                <div class="link-item-div" style="height: 80%;width: 40%;float: left;display: flex;text-align: center;">
                                  <a href="javascript:;" id="left-a-<%= job.id %>" style="align-self: center;margin: 0 auto;" onclick="job_start('<%= job.id%>','<%= job.job_type%>','<%= job.job_name %>','<%= job.job_url %>','<%= job.job_content %>')">开始采集</a>
                                  <a href="javascript:;" id="left-a-2-<%= job.id %>" style="align-self: center;margin: 0 auto;display: none;" onclick="job_stop('<%= job.id%>')">取消采集</a>
                                  <a href="./addJob?id=<%= job.id %>" id="left-a-3-<%= job.id %>" target="_blank" style="align-self: center;margin: 0 auto;display: none;" onclick="updateListen('<%= job.id%>')">编辑规则</a>
                                </div>
                                <div class="link-item-div" style="height: 80%;width: 40%;float: right;display: flex;text-align: center;">
                                  <a href="javascript:;" id="right-a-<%= job.id %>" onclick="delete_job('<%= job.id%>')" style="align-self: center;margin: 0 auto;">删除任务</a>
                                </div>
                              </div>
                              <span class="sitename" id="span-<%= job.id %>">准备就绪</span> 
                             <% }else if(job.job_status==0){ %> 


<div style="height: 25px;width: 100%;border: 10px;">
                                <div class="link-item-div" style="height: 80%;width: 40%;float: left;display: flex;text-align: center;">
                                  <a href="./addJob?id=<%= job.id %>" id="left-a-3-<%= job.id %>" target="_blank" style="align-self: center;margin: 0 auto;" onclick="updateListen('<%= job.id%>')">编辑规则</a>
                                </div>
                                <div class="link-item-div" style="height: 80%;width: 40%;float: right;display: flex;text-align: center;">
                                  <a href="javascript:;" onclick="delete_job('<%= job.id%>')" style="align-self: center;margin: 0 auto;">删除任务</a>
                                </div>
                              </div>
                              <span class="sitename" style="color: white">采集失败</span> 

                             <% }%>


                        <%  if(job.job_status==1){ %> 
                            <div class="linkdes" id="linkdes-id-<%= job.id %>">任务名称：<%= job.job_name %></div>
                        <% } else { %>
                            <div class="linkdes" id="linkdes-id-<%= job.id %>" style="color: white;border-top: 1px dashed white">任务名称：<%= job.job_name %></div>
                        <% }%>

                              


                        </li>
                        <% }) %>
                    </ul>
                </div>
            </article>
        </div>
    </div>
    <div class="openNav">
        <div class="iconflat">
            <div class="icon">

            </div>
        </div>
        <div class="site-branding">
            <div class="site-logo">
                <a href="javascript:;" >
                    <img src="https://ae01.alicdn.com/kf/U0e1f3b3d476048c1a6034e6ca0009aa7i.jpg" alt="MOCUISHLE">
                </a>
            </div>
        </div>
    </div>
</section>
<div id="mo-nav">
    <div class="m-avatar">
        <img src="https://pic.superbed.cn/item/5dcbad2d8e0e2e3ee9db034e.png">
    </div>
    <!-- <div class="m-search">
      <form class="m-search-form" method="get" action="https://ley.best" role="search">
        <input class="m-search-input" type="search" name="s" placeholder="搜索..." required></form>
        </div> -->
    <ul id="menu-hey-1" class="menu">
        <li>
            <a href="javascript:;">我的任务</a>
        </li>

        <li>
            <a href="javascript:;">添加任务</a>
        </li>
        <li>
            <a href="javascript:;">会员充值</a>
        </li>
        <li>
            <a href="javascript:;">个人中心</a>
        </li>
        <!-- <li>
          <a target="_blank" rel="noopener noreferrer" href="https://music.ley.best">Music</a>
          <ul class="sub-menu">
            <li>
              <a href="https://music.ley.best">Online music</a>
              </li>
              <li>
                <a href="http://ley.best/music/">Music Collections</a></li><li><a href="https://ley.best/mikutap/">Mikutap</a>
                  </li>
                  </ul>
                  </li>
                  <li class="current-menu-item">
                    <a href="https://ley.best/links/" aria-current="page">Links</a></li><li>
                    <a href="https://ley.best">Cloud</a>
                    <ul class="sub-menu"><li>
                      <a target="_blank" rel="noopener noreferrer" href="https://gd.ley.best">GoogleDrive</a>
                      </li>
                      <li>
                        <a target="_blank" rel="noopener noreferrer" href="https://od.ley.best">Onedrive</a>
                        </li>
                        <li>
                          <a target="_blank" rel="noopener noreferrer" href="https://kod.ley.best">Kod</a>
                          </li>
                          </ul>
                          </li> -->
    </ul>
</div>
<a href="javascript:;" class="cd-top"></a>
<div id="loading">
    <div id="loading-center">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>
<script type="text/javascript" language="javascript">
    if(window.console&&window.console.log){
        console.log('你想干嘛！');
        console.log('不要搞破坏！');
        console.log('have fun');
        console.log("%c白白","color:red");
    }</script>
<script type='text/javascript'>
    var Poi = 1;
    // var Poi = {"pjax":"1","movies":{"url":"https:\/\/formian.oss-accelerate.aliyuncs.com","name":"cc,VV","live":"open"},"windowheight":"auto","codelamp":"close","ajaxurl":"https:\/\/ley.best\/wp-admin\/admin-ajax.php","order":"asc","formpostion":"bottom"};
</script>

<div id="black_mask" class="black_mask"></div>
<script defer src="/javascripts/autoptimize_d53af4d6bafc72264120246a7ba5cf78.js"></script>
<script src="https://cdn.bootcss.com/FileSaver.js/2014-11-29/FileSaver.js"></script>
<script type="text/javascript">
  var statusFlag = 1;//采集状态：1表示就绪0表示暂停2表示意外退出
  var is_start = {};

  function job_start(id,jobType,name,url,forBody){
    is_start[id] = 1;//1表示已启动0表示已采集完成或采集失败
    $("#left-a-"+id+"").css("display",'none');
    $("#left-a-2-"+id+"").css("display","block");
    $("#span-"+id+"").text("采集中，请耐心等待...");
    $.ajax({
            url: "./startJob",
            type: "POST",
            data:{id:id,jobType:jobType,name:name,url:url,forBody:forBody},
            contextType: "application/json",
            success: function (res) {
              is_start[id] = 0;
              console.log('===>'+res['msg']);
              if (res['msg'] == 6) {
                $("#left-a-"+id+"").css("display",'block');
                $("#left-a-2-"+id+"").css("display","none");

                $.ajax({
                    url:"./getJobById",
                    type:"POST",
                    data:{id:id},
                    contextType:"application/json",
                    success:function(res){
                        if(res['msg'] == 1){
                            if (res['job'].job_status == 2) {
                                $("#span-"+id+"").text("采集完成");
                            }else if (res['job'].job_status == 1) {
                                $("#span-"+id+"").text("准备就绪");
                            }
                        }else{
                            console.log('查询失败');
                        }
                    },
                    error:function(err){

                    }
                });

                console.log('===>'+'超出限制！升级会员可同时采集10个任务哦~');
                alert('超出限制！升级会员可同时采集10个任务哦~');
              }else if(res['msg'] == 7){
                $("#left-a-"+id+"").css("display",'block');
                $("#left-a-2-"+id+"").css("display","none");

                $.ajax({
                    url:"./getJobById",
                    type:"POST",
                    data:{id:id},
                    contextType:"application/json",
                    success:function(res){
                        if(res['msg'] == 1){
                            if (res['job'].job_status == 2) {
                                $("#span-"+id+"").text("采集完成");
                            }else if (res['job'].job_status == 1) {
                                $("#span-"+id+"").text("准备就绪");
                            }
                        }else{
                            console.log('查询失败');
                        }
                    },
                    error:function(err){
                    }
                });

                console.log('===>'+'超出限制！');
                alert('啊哦超出限制了哦~让服务器歇会吧');
              }else if(res['msg'] == 1){
                $.ajax({
                      url:"./addJob/update",
                      type:"POST",
                      data:{id:id,job_status:2},
                      contextType:"application/json",
                      success:function(data){
                        if (data['msg'] == 0) {
                          console.log('采集完成------------>'+res['job_name']);
                          $("#link-item-id-"+id+"").css("background-color","#1cc57f");
                          $("#left-a-2-"+id+"").css("display","none");
                          $("#left-a-"+id+"").text("重新采集");
                          $("#left-a-"+id+"").css("display",'block');
                          $("#span-"+id+"").text("采集完成");
                          $("#span-"+id+"").css("color","white");
                          $("#linkdes-id-"+id+"").css("border-top","1px dashed white");
                          $("#linkdes-id-"+id+"").css("color","white");
                          var content = JSON.stringify(res['resultData']);
                          var blob = new Blob([content], {type: "text/plain;charset=utf-8"});
                          saveAs(blob, ""+res['job_name']+".json");
                        }
                      },
                      error:function(err){

                      }
                  });
              }else if(res['msg'] == 5){
                  $("#left-a-"+id+"").css("display",'block');
                  $("#left-a-2-"+id+"").css("display","none");
                  $("#span-"+id+"").text('准备就绪');
                  console.log('用户取消采集');
              }else{
                $.ajax({
                      url:"./addJob/update",
                      type:"POST",
                      data:{id:id,job_status:0},
                      contextType:"application/json",
                      success:function(data){
                        if (data['msg'] == 0) {
                            $("#span-"+id+"").text("采集失败");
                            $("#span-"+id+"").css("color","white");
                            $("#link-item-id-"+id+"").css("background-color","#a0dad0");
                            $("#linkdes-id-"+id+"").css("border-top","1px dashed white");
                            $("#linkdes-id-"+id+"").css("color","white");
                            $("#left-a-2-"+id+"").css("display","none");
                            $("#left-a-3-"+id+"").css("display","block");

                            if (res['msg'] == 0) {
                                console.log('未知原因导致执行失败,请删除本任务重新创建');
                                alert("《"+res['job_name']+"》"+'未知原因导致采集失败,请删除本任务重新创建');
                            }else if(res['msg'] == 2){
                                console.log('意外关闭或刷新导致失败');
                                alert('意外关闭或刷新导致采集失败');
                            }else if(res['msg'] == 3){
                                console.log(res['job_name']+'---采集失败：网址不正确或访问超时,请删除本任务重新创建或编辑规则，填写正确的采集网址');
                                alert("《"+res['job_name']+"》"+'采集失败：网址不正确或访问超时,请删除本任务重新创建或编辑规则，填写正确的采集网址');
                            }else if(res['msg'] == 4){
                                console.log(res['job_name']+'---采集失败：获取采集模块失败或模块子节点长度为0,请删除本任务重新创建或编辑规则,填写正确的采集模块');
                                alert("《"+res['job_name']+"》"+'采集失败：获取采集模块失败或模块子节点长度为0,请删除本任务重新创建或编辑规则,填写正确的采集模块');
                            }
                        }
                      },
                      error:function(err){

                      }
                  });
                }
            },
            error: function (err) {
               console.log('==='+err);
            }
    });
  }

  function delete_job(id){
    if (is_start[id] == 1) {//如果正在采集，删除时先停止采集任务
      job_stop(id);
    }
    $.ajax({
            url:"./addJob/delete",
            type:"POST",
            data:{id:id},
            contextType:"application/json",
            success:function(res){
              if(res['msg'] == 0){
                $("#link-item-id-"+id+"").remove();
                console.log('删除成功');
              }
            },
            error:function(err){

            }
        });
  }

function job_stop(id){
  $("#span-"+id+"").text('正在取消...');
  $.ajax({
            url:"./startJob/stopJob",
            type:"POST",
            data:{id:id},
            contextType:"application/json",
            success:function(res){
              if(res == 0){
                console.log('已发出停止指令');
              }
            },
            error:function(err){

            }
        });
}

function updateListen(id){
    $("#left-a-3-"+id+"").css("color","#4169e1");

}
</script>

<script type="text/javascript">
  if(window.WebSocket){
    var ws = new WebSocket('ws://localhost:8001');

    ws.onopen = function(e){
      console.log("连接服务器成功");
      // 向服务器发送消息
      ws.send("我是01听到请回答over");
    }
    ws.onclose = function(e){
      console.log("服务器关闭");
    }
    ws.onerror = function(){
      console.log("连接出错");
    }
    // 接收服务器的消息
    ws.onmessage = function(e){
      let message = "message:"+e.data+"";
      console.log(message);
    }   
  }else{$body.html('');alert('请升级或更换为支持websocket的浏览器,否则无法使用本站服务')}
</script>
</body>
</html>



